#titlebar {
  margin-top: 10px; 
}

#infobox {
  margin-top: 10px; 
}

#host_selection{
  margin-top: 10px; 
}

title {
  text-align: center;
}

#mynetwork {
  margin: auto;
  width: 100%;
  height: 700px;
  border: 3px solid black;
  padding: 10px;
  background-color: #d0d4db;
}
h1 {
  width:500px;
  margin: 0 auto;
  text-align: center;
}
.retroshadow {
  text-align: center;
  font-size: 60px;
  padding: 20px;
  color: #2c2c2c;
  background-color: #ffffff;
  letter-spacing: .05em;
  text-shadow: 
    4px 4px 0px #d5d5d5, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
}

.flowtrace {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  color: #2c2c2c;
  background-color: #ffffff;
  letter-spacing: .05em;
  text-shadow: 
    4px 4px 0px #d5d5d5, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
}

.information_panel{
  margin-top: 30px;
}

.foo {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.stp_green {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  background: green;
}

.stp_red {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  background: red;
}

.stp_black {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  background: black;
}