{% extends 'layout.html' %}

{% block body %}
<h1>Controller Configuration</h1>

<!-- 
    TODO:
        - If controller exists in the network, pull info from sql database and display it in table
        - Prompt user to enter device info into sql database
 -->
 
<table class="table table-bordered">
    <tr>
        <th>IP address</th>
        <th>Port Number</th>
        <th>Username</th>
    </tr>
    <tr>
        <td>IP address</td> 
        <td>Port Number</td>
        <td>Username</td>
      </tr>
</table>

{% endblock %}