<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SDN Network Monitoring Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta http-equiv="expires" content="0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #mynetwork {
            margin: auto;
            width: 60%;
            height: 600px;
            border: 1px solid lightgray;
            padding: 10px;
        }
        h1 {
            width:500px;
            margin: 0 auto;
            background: gray;
            text-align: center;
        }
    </style>
  </head>

  <body>
      {% include 'includes/_navbar.html' %}
    
      <div class="container">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>
    
     <h1>Topology for: 192.168.0.156</h1>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    
    <div id="mynetwork"></div>

    <script type="text/javascript">
      CKEDITOR.replace('editor')
    </script>
    
    <script type="text/javascript">

        var nodes = new vis.DataSet([
            {id: 'host:00:00:00:00:00:01', label: 'host:00:00:00:00:00:01'},
            {id: 'host:00:00:00:00:00:02', label: 'host:00:00:00:00:00:02'},
            {id: 'openflow:5', label: 'openflow:5'},
            {id: 'host:00:00:00:00:00:05', label: 'host:00:00:00:00:00:05'},
            {id: 'openflow:6', label: 'openflow:6'},
            {id: 'host:00:00:00:00:00:06', label: 'host:00:00:00:00:00:06'},
            {id: 'openflow:7', label: 'openflow:7'},
            {id: 'host:00:00:00:00:00:03', label: 'host:00:00:00:00:00:03'},
            {id: 'host:00:00:00:00:00:04', label: 'host:00:00:00:00:00:04'},
            {id: 'openflow:1', label: 'openflow:1'},
            {id: 'openflow:2', label: 'openflow:2'},
            {id: 'openflow:3', label: 'openflow:3'},
            {id: 'openflow:4', label: 'openflow:4'}
        ]);

        var edges = new vis.DataSet([
            {from: 'openflow:7', to: 'host:00:00:00:00:00:06'},
            {from: 'openflow:4', to: 'host:00:00:00:00:00:01'},
            {from: 'openflow:5', to: 'host:00:00:00:00:00:03'},
            {from: 'openflow:6', to: 'openflow:3'},
            {from: 'openflow:7', to: 'openflow:3'},
            {from: 'openflow:2', to: 'openflow:1'},
            {from: 'openflow:1', to: 'openflow:3'},
            {from: 'openflow:2', to: 'openflow:4'},
            {from: 'openflow:6', to: 'host:00:00:00:00:00:04'},
            {from: 'openflow:2', to: 'openflow:5'},
            {from: 'host:00:00:00:00:00:02', to: 'openflow:4'},
            {from: 'host:00:00:00:00:00:05', to: 'openflow:7'}
        ]);
    
        // create a network
        var container = document.getElementById('mynetwork');
    
        // provide the data in the vis format
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {};
    
        // initialize your network!
        var network = new vis.Network(container, data, options);
    </script>
  </body>
</html>