{% extends 'layout.html' %}

{% block body %}
{% for node in flow_dict %}
<h2><a href="switch/{{node}}">{{node}}</a></h2>
<div style="overflow: auto; width: 98%;" >
<table class="table table-bordered">
    <tr>
        <th>Flow-ID</th>
        <th>Priority</th>
        <th>Packet-Count</th>
        <th>Byte-Count</th>
        <th>Duration</th>
        <th>Hard-Timeout</th>
        <th>Idle-Timeout</th>
        <th>Table-ID</th>
        <th>Cookie-ID</th>
        <th>Match Rules</th>
        <th>Actions</th>
    </tr>
{% for flow in flow_dict[node] %}
    <tr>
        <td>{{flow['id']}}</td>
        <td>{{flow['priority']}}</td>
        <td>{{flow['pckt-count']}}</td>
        <td>{{flow['byte-count']}}</td>
        <td>{{flow['duration']}}</td>
        <td>{{flow['hard-timeout']}}</td>
        <td>{{flow['idle-timeout']}}</td>
        <td>{{flow['table']}}</td>
        <td>{{flow['cookie']}}</td>
        <td><pre>{{flow['match_rules'] |tojson_pretty}}</pre></td>
        <td><pre>{{flow['actions'] | tojson_pretty}}</pre></td>
    </tr>

{% endfor %}
</table>
</div>
{% endfor %}
{% endblock %}
 