{% extends 'layout.html' %}

{% block body %}
<h2>{{sw}}</h2>

<div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">
          Port Counters</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
                <table class="table table-bordered">
                  <tr>
                      <th>Interface</th>
                      <th>Rx Pckts</th>
                      <th>Tx Pckts</th>
                      <th>Rx Bytes</th>
                      <th>Tx Bytes</th>
                      <th>Rx Drops</th>
                      <th>Tx Drops</th>
                      <th>Rx Errs</th>
                      <th>Tx Errs</th>
                      <th>Rx Frame-Errs</th>
                      <th>Rx Overrun-Errs</th>
                      <th>Rx CRC-Errs</th>
                  </tr>
                  {% for node_int in node_pc %}
                  <tr>
                    <td>{{node_int}}</td>
                    <td>{{node_pc[node_int]["rx-pckts"]}}</td>
                    <td>{{node_pc[node_int]["tx-pckts"]}}</td>
                    <td>{{node_pc[node_int]["rx-bytes"]}}</td>
                    <td>{{node_pc[node_int]["tx-bytes"]}}</td>
                    <td>{{node_pc[node_int]["rx-drops"]}}</td>
                    <td>{{node_pc[node_int]["tx-drops"]}}</td>
                    <td>{{node_pc[node_int]["rx-errs"]}}</td>
                    <td>{{node_pc[node_int]["tx-errs"]}}</td>
                    <td>{{node_pc[node_int]["rx-frame-errs"]}}</td>
                    <td>{{node_pc[node_int]["rx-OverRun-errs"]}}</td>
                    <td>{{node_pc[node_int]["rx-CRC-errs"]}}</td>
                  </tr>
                  {% endfor %}
                </table>
                
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">
          Flow Tables</a>
        </h4>
      </div>
      <div style="overflow: auto;" id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Flow-ID</th>
                        <th>Priority</th>
                        <th>Packet-Count</th>
                        <th>Byte-Count</th>
                        <th>Duration</th>
                        <th>Hard-Timeout</th>
                        <th>Idle-Timeout</th>
                        <th>Table-ID</th>
                        <th>Cookie-ID</th>
                        <th>Match Rules</th>
                        <th>Actions</th>
                    </tr>
                {% for flow in flows %}
                    <tr>
                        <td>{{flow['id']}}</td>
                        <td>{{flow['priority']}}</td>
                        <td>{{flow['pckt-count']}}</td>
                        <td>{{flow['byte-count']}}</td>
                        <td>{{flow['duration']}}</td>
                        <td>{{flow['hard-timeout']}}</td>
                        <td>{{flow['idle-timeout']}}</td>
                        <td>{{flow['table']}}</td>
                        <td>{{flow['cookie']}}</td>
                        <td><pre>{{flow['match_rules'] |tojson_pretty}}</pre></td>
                        <td><pre>{{flow['actions'] | tojson_pretty}}</pre></td>
                    </tr>
                {% endfor %}
                </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          Active Flow Count History</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
                <div id="flow_summary">
                        <script type="text/javascript">
                            var container = document.getElementById('flow_summary');
                            var items = [
                            {% for point in flow_s_graph %}
                            {% if not loop.last %}
                            {x: '{{point["date"]}}', y: {{point["flow_count"]}} },
                            {% else %}
                            {x: '{{point["date"]}}', y: {{point["flow_count"]}} }
                            {% endif %}
                            {% endfor %}
                            ];
                            var dataset = new vis.DataSet(items);
                            var options = {
                                width: '100%',
                                height: '325px',
                                drawPoints: false,
                                shaded: true,
                                
                                timeAxis: {scale: 'minute', step: 2},
                                zoomable: false,
                                moveable: true
                            };
                            var graph2d = new vis.Graph2d(container, dataset, options);
                        </script>
                    </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
          Interface Usage</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
                {% for interface, data in int_graphs.items()%}
    <h3>{{interface}}</h3>
    <!-- Graphs -->
    <div id="{{interface}}rx_pkts">
        <h4>Received Packets Forwarded</h4>
        <script type="text/javascript">
            var container = document.getElementById('{{interface}}rx_pkts');
            var items = [
            {% for point in data %}
            {% if not loop.last %}
            {x: '{{point["date"]}}', y: {{point["rx_count"]}} },
            {% else %}
            {x: '{{point["date"]}}', y: {{point["rx_count"]}} }
            {% endif %}
            {% endfor %}
            ];
            var dataset = new vis.DataSet(items);
            var options = {
                width: '100%',
                height: '325px',
                drawPoints: false,
                shaded: true,
                
                timeAxis: {scale: 'minute', step: 2},
                zoomable: false,
                moveable: true
            };
            var graph2d = new vis.Graph2d(container, dataset, options);
        </script>
    </div>
    <br>
    <br>
    <div id="{{interface}}tx_pkts">
        <h4>Transmitted Packets Forwarded</h4>
        <script type="text/javascript">
            var container = document.getElementById("{{interface}}tx_pkts")
            var items = [
                {% for point in data %}
                {%if not loop.last %}
                {x: '{{point["date"]}}', y: {{point["tx_count"]}}},
                {% else %}
                {x: '{{point["date"]}}', y: {{point["tx_count"]}} }
                {% endif %}
                {% endfor %}
            ];
            var dataset = new vis.DataSet(items);
            var options = {
                width: '100%',
                height: '325px',
                drawPoints: false,
                shaded: true,

                timeAxis: {scale: 'minute', step: 2},
                zoomable: false,
                moveable: true
            };
            var graph2d = new vis.Graph2d(container, dataset, options);
        </script>    
    </div>
    <br>
    <br>
    <div id="{{interface}}rx_dps">
        <h4>Received Packet Drops</h4>
        <script type="text/javascript">
            var container = document.getElementById('{{interface}}rx_dps');
            var items = [
            {% for point in data %}
            {% if not loop.last %}
            {x: '{{point["date"]}}', y: {{point["rx_drops"]}} },
            {% else %}
            {x: '{{point["date"]}}', y: {{point["rx_drops"]}} }
            {% endif %}
            {% endfor %}
            ];
            var dataset = new vis.DataSet(items);
            var options = {
                width: '100%',
                height: '325px',
                drawPoints: false,
                shaded: true,

                timeAxis: {scale: 'minute', step: 2},
                zoomable: false,
                moveable: true
            };
            var graph2d = new vis.Graph2d(container, dataset, options);
        </script>
    </div>
    <br>
    <br>
    <div id="{{interface}}tx_dps">
        <h4>Transmitted Packet Drops</h4>
        <script type="text/javascript">
            var container = document.getElementById("{{interface}}tx_dps")
            var items = [
                {% for point in data %}
                {%if not loop.last %}
                {x: '{{point["date"]}}', y: {{point["rx_drops"]}}},
                {% else %}
                {x: '{{point["date"]}}', y: {{point["rx_drops"]}} }
                {% endif %}
                {% endfor %}
            ];
            var dataset = new vis.DataSet(items);
            var options = {
                width: '100%',
                height: '325px',
                drawPoints: false,
                shaded: true,

                timeAxis: {scale: 'minute', step: 2},
                zoomable: false,
                moveable: true
            };
            var graph2d = new vis.Graph2d(container, dataset, options);
        </script>  
    </div>
    {% endfor %}
        </div>
      </div>
    </div>
  </div>


<!-- Graphs -->

{% endblock %}