{% extends 'layout.html' %}
{% block body %}
<h1 style="font-size: 50px;"> Active Topology: {{topologyInfo['controller']}}</h1>

  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

    <div id="mynetwork"></div>

    <div id="titlebar"<></div>

    <div id="infobox"></div>

    <script type="text/javascript">

        var responseJSON;

        var nodes = new vis.DataSet([
            {% for device in topologyInfo['devices'] %}
            {% if loop.index != topologyInfo['devices']|length %}
            {% if "host" not in device %}
            {id: '{{device}}', label: '{{device}}', image: "{{url_for('static', filename='switch.png')}}", shape: 'image'},
            {% elif "host" in device %}
            {id: '{{device}}', label: '{{device}}', image: '{{url_for('static', filename='host.png')}}', shape: 'image'},
            {% endif %}
            {% elif  loop.index == topologyInfo['devices']|length %}
            {% if "host" not in device %}
            {id: '{{device}}', label: '{{device}}', image: '{{url_for('static', filename='switch.png')}}', shape: 'image'}
            {% elif "host" in device %}
            {id: '{{device}}', label: '{{device}}', image: '{{url_for('static', filename='host.png')}}', shape: 'image'}
            {% endif %}
            {% endif %}
            {% endfor %}
        ]);

        var edges = new vis.DataSet([
            {% for link in topologyInfo['connections'] %}
            {% if loop.index != topologyInfo['connections']|length %}
            {from: '{{link['src']}}', to: '{{link['dst']}}'},
            {% elif  loop.index == topologyInfo['connections']|length %}
            {from: '{{link['src']}}', to: '{{link['dst']}}'}
            {% endif %}
            {% endfor %}
        ]);
    
        // create a network
        var container = document.getElementById('mynetwork');
    
        // provide the data in the vis format
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {};
    
        // initialize your network!
        var network = new vis.Network(container, data, options);

        
        network.on("selectNode", function (params) {
            var node = String(params.nodes);

            if (node.includes('openflow')) {
                //Create H2 Tag
                document.getElementById('titlebar').innerHTML = '<h2>'+ node +'</h2>';
                document.getElementById('infobox').innerHTML = '';
                switchStats(node);
            } else {
                document.getElementById('infobox').innerHTML = '';
                document.getElementById('titlebar').innerHTML = '<h2>'+ node +'</h2>';
            }
        });

        network.on("deselectNode", function (params) {
            console.log('deselectNode Event:', params);
        });

         //Prepare/Send request
         function switchStats(node)
        {
            var xhr = new XMLHttpRequest();
            
            if (xhr)
            {
                // open( method, location, isAsynchronous )
                xhr.open("POST", "/topo-switch-stats", true);
                // bind callback function
                xhr.onreadystatechange = function()
                {
                  handleResponse(xhr);
                };
                // actually send the Ajax request 
                var post_params = '{ "switch" : "openflow' + node.slice(9) + '"}';
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.send(post_params); // Send request
            }
        }


         //Callback function that processes the server response
        function handleResponse(xhr)
        {
            if (xhr.readyState == 4 && xhr.status == 200)
            {
                responseJSON = JSON.parse(xhr.responseText);
                
                
                var title = new Array();
                title.push(["Interface", "Tx Packets", "Rx Packets", "Tx Errors", 
                                        "Rx Errors", "Tx Drops", "Rx Drops"]);
                
                //Create a HTML Table element.
                var table = document.createElement("TABLE");
                table.classList.add("table-bordered");
                table.classList.add("table");
                table.border = "1";
            
                //Get the count of columns.
                var columnCount = 7;
            
                //Add the header row.
                var row = table.insertRow(-1);
                for (var i = 0; i < columnCount; i++) {
                    var headerCell = document.createElement("TH");
                    headerCell.innerHTML = title[0][i];
                    row.appendChild(headerCell);
                }
            
                //Add the data rows.
                for (var i = 0; i < responseJSON.length; i++) {
                    row = table.insertRow(-1);
                    for (var j = 0; j < columnCount; j++) {
                        var cell = row.insertCell(-1);
                        if (j == 0){
                        var interface = Object.keys(responseJSON[i]);
                        var counters = responseJSON[i][interface];
                        }

                        switch (j) {
                            case 0:
                                cell.innerHTML = interface;
                                break;
                            case 1:
                                cell.innerHTML = counters['Tx_packs'];
                                break;
                            case 2:
                                cell.innerHTML = counters["Rx_pckts"];
                                break;
                            case 3:
                                cell.innerHTML = counters["Tx_errs"];
                                break;
                            case 4:
                                cell.innerHTML = counters["Rx_errs"];
                                break;
                            case 5:
                                cell.innerHTML = counters["Tx_drops"]; 
                                break;
                            case 6:
                                cell.innerHTML = counters["Rx_drops"];
                                 
                            }
                    }
                }

                document.getElementById('infobox').appendChild(table);
                window.scrollTo(0, document.body.scrollHeight);
            }
        }
    </script>

{% endblock %}
 