{% extends 'layout.html' %}
{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='topo.js') }}"></script>
<h1 class ='retroshadow'><img width="30" height="30" src="{{url_for('static', filename='icon.png')}}"/>Topology View</h1> 

<div id="mynetwork"></div>

    
 <div class='information_panel'>   
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse2">
            Flow Tracer</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <form name ="flow_tracer" id="flow_tracer" method="POST", action="">
                <table style="width:50%" align="center">
                    <tr>
                        <td>
                            <div class="form-group">
                                <label class='form_title' for="src_ip">Source Host IP</label><br>
                                <select name='src_ip' id='src_ip' class = "form-control">
                                    <option value="na" disabled selected>Select your option</option>
                                    {% for ip in topologyInfo['hosts'] %}
                                    <option value="{{ip}}">{{ip}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <p>&nbsp; &nbsp; &nbsp; </p>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class='form_title', for="dst_ip">Destination Host IP</label><br>
                                <select name='dst_ip' id='dst_ip' class = "form-control">
                                    <option value="na" disabled selected>Select your option</option>
                                    {% for ip in topologyInfo['hosts'] %}
                                    <option value="{{ip}}">{{ip}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td colspan="3" align="right">
                            <input disabled id="submit" type="button" class="btn btn-primary" value="Trace">
                            <input disabled id="swap" type="button" class="btn btn-primary" value="Swap Path">
                        </td>
                    </tr>
                </table>
            </form>  
          </div>
        </div>
      </div>   
      
      <div class='Additional Options'>   
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3">
                    Additional Options</a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                        <table style="width:50%" align="center">
                                <tr>
                                    <td colspan="3" align="center">
                                        <input id="stp_topo" type="button" class="btn btn-primary" value="Spanning Tree Topology">
                                    </td>
                                    <td colspan="3" align="center">
                                        <input id="reset" type="button" class="btn btn-primary" value="Reset">
                                    </td>
                                </tr>
                            </table>
                    </div>
                </div>
              </div>
      
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">
              Information Panel</a>
            </h4>
          </div>
          <div style="overflow: auto;" id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div id="titlebar"></div>
                <div id="infobox"></div>   
            </div>
          </div>
        </div>

        
<div>   
    

<script type="text/javascript">

        var nodesArray = [
            {% for device in topologyInfo['devices'] %}
            {% if loop.index != topologyInfo['devices']|length %}
            {% if "host" not in device['id'] %}
            {id: '{{device['id']}}', label: '{{device['id']}}', title: 'Node: <b> {{device['id']}} </b><br>Type: Switch', image: "{{url_for('static', filename='switch.png')}}", shape: 'image'},
            {% elif "host" in device['id'] %}
            {id: '{{device['id']}}', label: '{{device['ip']}}', title: 'Node: <b> {{device['id']}} </b><br>Type: Host', image: '{{url_for('static', filename='host.png')}}', shape: 'image'},
            {% endif %}
            {% elif  loop.index == topologyInfo['devices']|length %}
            {% if "host" not in device['id'] %}
            {id: '{{device['id']}}', label: '{{device['id']}}', title: 'Node: <b> {{device['id']}} </b><br>Type: Switch', image: "{{url_for('static', filename='switch.png')}}", shape: 'image'}
            {% elif "host" in device['id'] %}
            {id: '{{device['id']}}', label: '{{device['ip']}}', title: 'Node: <b> {{device['id']}} </b><br>Type: Host', image: '{{url_for('static', filename='host.png')}}', shape: 'image'}
            {% endif %}
            {% endif %}
            {% endfor %}
        ];

        
        var edgesArray = [
            {% for link in topologyInfo['connections'] %}
            {% if loop.index != topologyInfo['connections']|length %}
            {id: '{{link['src_port']}}-{{link['dst_port']}}', from: '{{link['src']}}', to: '{{link['dst']}}', title: 'Source Port: <b> {{link['src_port']}} </b><br>Dst Port: <b>{{link['dst_port']}}</b>'},
            {% elif  loop.index == topologyInfo['connections']|length %}
            {id: '{{link['src_port']}}-{{link['dst_port']}}', from: '{{link['src']}}', to: '{{link['dst']}}', title: 'Source Port: <b> {{link['src_port']}} </b><br>Dst Port: <b>{{link['dst_port']}}</b>'}
            {% endif %}
            {% endfor %}
        ];

        var nodes = new vis.DataSet(nodesArray);
        var edges = new vis.DataSet(edgesArray);

        // create a network
        var container = document.getElementById('mynetwork');
    
        // provide the data in the vis format
        var data = {
            nodes: nodes,
            edges: edges
        };
        
        var options = {
			interaction:{hover:true}
		};

        var network = new vis.Network(container, data, options);


        $("#submit").click(function(){
            refresh();
            src_ip = $("#src_ip option:selected").val();
            dst_ip = $("#dst_ip option:selected").val();
            fetch_flow_topo(src_ip, dst_ip);
        });

        
        $("#src_ip").change(function() {
            var src_ip = $("#src_ip option:selected").val();
            var dst_ip = $("#dst_ip option:selected").val();
            
            if (src_ip == dst_ip || dst_ip == 'na'){
                $("#submit").attr("disabled", true);
                $("#swap").attr("disabled", true);
            } else {
                $("#submit").attr("disabled", false);
                $("#swap").attr("disabled", false);
            }
        });

        $("#dst_ip").change(function() {
            var src_ip = $("#src_ip option:selected").val();
            var dst_ip = $("#dst_ip option:selected").val();
            
            if (dst_ip == src_ip || src_ip == 'na'){
                $("#submit").attr("disabled", true);
                $("#swap").attr("disabled", true);
            } else {
                $("#submit").attr("disabled", false);
                $("#swap").attr("disabled", false);
            }
            
        });

        $("#reset").click(function() {
            refresh();
        });

        $("#swap").click(function() {
            var src_ip = $("#src_ip option:selected").val();
            var dst_ip = $("#dst_ip option:selected").val();

            $("#dst_ip").val(src_ip);
            $("#src_ip").val(dst_ip);
        });

        $("#stp_topo").click(function() {
            refresh();
            fetch_stp_topo();
        });


        //Event Handler to catch when user hovers a node
        network.on("hoverNode", function (params) {
            var node = String(params.node);
            //Limitation: Switch names must include openflow atm.
            if (node.includes('openflow')){
                getPopUpInfo(node);
            }
        });
        
        //Event Handler to catch when user left clicks on a node
        network.on("selectNode", function (params) {
            document.getElementById('titlebar').innerHTML = '';
            document.getElementById('infobox').innerHTML = '';
            var node = String(params.nodes);

            //Limitation: Switch names must include 'openflow'. 
            if (node.includes('openflow')) {
                document.getElementById('titlebar').innerHTML = '<h2>'+'<a href="switch/'+ node +'">' + node +'</a></h2>';
                switchStats(node);
            } else {
                hostStats(node);
            }
        });

        //Event Handler to catch when user right clicks on an edge
        network.on("selectEdge", function (params) {
            
            var node = String(params.nodes);

            if (node.length == 0){
                var edgeName = String(params.edges);
                //Feature disabled for now
                //edgeInfo(edgeName);
            }      
        });  

</script>

{% endblock %}
 